@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}

body{
    margin: 0 5% 0;
}

/* BANNER START */
.home-banner{
    background-image: url(assets/image/design1_image1.jpg);
    background-position-y: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
}
.home-banner-page{
    background-image: url(../assets/image/design1_image1.jpg);
    background-position-y: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
}

.section-title-ctn{
    border: 1px solid black;
}

.banner-title{
    font-size: 3.8rem;
    margin-bottom: 40px;
}

.section-title{
    font-size: 2rem;
    text-align: center;
    color: black;
    padding: 10px 0;
}

.navbar{
    margin: -20px;
    left: 50%;
    position: relative;
}
.btn{
    padding: 5px 10px;
    margin: -20px 5px 0;
    background-color: rgb(113, 157, 228);
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.82);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.82);
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.82);
}

.btn:hover{
    background-color: rgb(53, 183, 53);
}

.navbar-link{
    font-size: 1.4em;
    padding: 15px;
    color: white;
}
/* BANNER ENDS */

/* MAIN START */
.logo{
    height: 200px;
}

#main-ctn{
    display: flex;
    padding: 1% 5% 0 0;
}

.event-ctn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px; 
    width: 80%;
}

.event-item{
    padding: 10px 0;
}

.event-item-title{
    font-size: 1.7rem;
}

.event-item-p{
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.active{
    background-color: rgb(53, 183, 53);
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.sangria{
    text-indent: 20px;
}

.start{
    justify-content: flex-start;
}
/* MAIN ENDS */
/* GAME INFORMATION starts */
.schedule-ctn{
    margin: 30px 0 40px 40px;
}

.gi-title{
    font-size: 3rem;
    margin-bottom: 30px;
}

.sch-title{
    margin-bottom: 10px;
}

.sch-subtitle{
    text-decoration: underline;
}

.table thead>tr>th{
    text-align: left;
    font-weight: 700;
    font-size: 1.3rem;
}

.table td{
    padding: 10px 0;
    font-size: 1.1em;
}
.table{
    margin: 30px auto 15px;
    width: 70%;
}

.time{
    text-align: right;
}

.p2{
    margin: 10px 0 15px;
}

.p3{
    margin-bottom: 10px;
}
/* GAME INFORMATION ends */
/* RULES starts */
.rules-ctn{
    width: 90%;
    margin: 30px 5%;
}

.rules-title{
    font-size: 1.5rem;
}

.rules-section-title{
    margin: 20px 0;
}

.field-ptn{
    margin: 20px 0;
}

.lista-circle{
    margin-left: 3rem;
}

.letter-list{
    list-style: lower-latin;
}
/* RULES ends */

.center{
    text-align: center;
}